<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>third</title>
</head>
<body>
    <h1>VIRAT KHOLI BIOGRAPHY</h1>
    <h2>Virat Kohli stepped down as the Test captain of Team India after India lost the Test series against South Africa.
     He announced his decision through social media on January 15. 
     Earlier in 2021, Kohli announced to step down as India's T20I captain after the T20 World Cup 2021.
     Rohit Sharma replaced him as India's white-ball captain in December 2021.</H2>
</body>
</html>